.cover__link {
    position: relative;
    display: flex;
    background-image: url('../../../images/cover__background.png');
    background-position: center;
    background-size: cover;
    padding-top: 62.5%;
}