.photo-grid {
    display: grid;
    max-width: calc(100% - 96px);
    grid-template-columns: repeat(4, 1fr);
    margin: 92px auto 0;
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
        margin: 92px 48px 0;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: calc(100% - 24px * 2);
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin: 92px 24px 0;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: calc(100% - 16px * 2);
        grid-template-columns: repeat(1, 1fr);
        row-gap: 12px;
        margin: 92px 16px 0;
    }
}