.place__paragraph-handle {
    width: auto;
    margin: 0 auto 0;
}

@media screen and (max-width: 320px) {   
    .place__paragraph-handle {
    max-width: 288px;
    width: 100%;
    margin: 0 16px 0;
    }
}