.footer__links-container {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 465px) {
    .footer__links-container { 
        flex-direction: column;
    }
}