.cover__subtitle {
  color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 32px auto 0;
    max-width: 360px;
    text-rendering: optimizeLegibility; 
}

@media screen and (max-width: 680px) and (min-width: 320.25px) {
    .cover__title {
      font-size: 4.5vw;
      line-height: 1.15;
    } 
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
      margin: 16px auto 0;
      font-size: 14px;
      line-height: 16px;
    } 
}