.lead__title {
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1024px) and (min-width: 320px) {
    .lead__title {
        font-size: 8.75vw;
        line-height: 1.05;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        font-weight: 900;
        font-size: 12.5vw;
        line-height: 44px;
    }
}