.place__paragraph {
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin: 0;
}

.place__paragraph:nth-of-type(2n) {
    margin-top: 26px;
}

@media screen and (max-width: 1024px) {
    .place__paragraph:nth-of-type(2n) {
        margin-top: 27px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph:nth-of-type(2n) {
        font-size: 16px;
        line-height: 26px;
        margin-top: 25px;
    }
}