.lead__subtitle {
    color: white;
    max-width: 640px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 32px auto 0;
    text-rendering: optimizeLegibility; 
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
        margin: 16px auto 0;
    }
}