.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0 auto 0;
    max-width: 560px;
    text-rendering: optimizeLegibility; 
}

@media screen and (max-width: 680px) and (min-width: 320.25px) {
  .cover__title {
    font-size: 10vw;
    line-height: 1.1;
  } 
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  } 
}