.place {
    color: white;
    display: grid;
    grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
    column-gap: 40px;
    row-gap: 48px;
}

@media screen and (max-width: 1024px) {
    .place {
        column-gap: 32px;
        grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
    }
}

@media screen and (max-width: 768px) {
    .place {
        column-gap: 28px;
        grid-template-columns: minmax(320px, 340px) minmax(288px, 352px);
    }
}

@media screen and (max-width: 655px) {
    .place {
        row-gap: 32px;
        column-gap: 0;
        grid-template-columns: auto;
    }
}