.footer {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 92px 48px 24px;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 90px 24px 24px;
    }
    
}

@media screen and (max-width: 720px) {
    .footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        padding: 66px 16px 24px;
    }
    
}